/* Start Custom Fonts CSS */
@font-face {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url('../fonts/GTWalsheimPro-Regular.eot');
    src: url('../fonts/GTWalsheimPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTWalsheimPro-Regular.woff2') format('woff2'),
        url('../fonts/GTWalsheimPro-Regular.woff') format('woff'),
        url('../fonts/GTWalsheimPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 500;
    font-display: auto;
    src: url('../fonts/GTWalsheimPro-Medium.eot');
    src: url('../fonts/GTWalsheimPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTWalsheimPro-Medium.woff2') format('woff2'),
        url('../fonts/GTWalsheimPro-Medium.woff') format('woff'),
        url('../fonts/GTWalsheimPro-Medium.ttf') format('truetype');
}

/* End Custom Fonts CSS */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'GT Walsheim Pro';
}

a,
button {
    transition: linear .2s;
    text-decoration: none;
}

.container {
    max-width: 1400px;
}

h2.sec-title {
    font-weight: 500;
    font-size: 56px;
    line-height: 126.5%;
    text-align: center;
    color: #000000;
}

.btn-theme {
    background-color: #4DC1FF;
    color: #FFFFFF;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    padding: 17px 30px;
    border: none;
    outline: none;
}

.btn-theme:hover {
    background-color: #FF7B29;
}

input[type='checkbox'] {}

header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #F4F4F4;
}

header nav {
    padding: 0 !important;
}

.navbar-brand {}

.navbar-brand img {}

.navbar-toggler {}

.navbar-toggler-icon {}

.navbar-nav {
    align-items: center;
    height: 77px;
}

.navbar-nav li {
    margin-right: 13px;
}

.navbar-nav li:last-child {
    margin-right: 0;
}

.navbar-nav li a {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    color: #000000CC;
    padding: 30px 13px;
    padding-bottom: 27px;
    border-bottom: 3px solid transparent;
}

.navbar-nav li a:hover {
    border-color: #15b9d5;
}

.navbar-nav li a.nav-icon {
    background-color: #15B9D5;
    border-radius: 6px;
    width: 45px;
    height: 45px;
    display: block;
    padding: 10px;
    fill: #FFFFFF;
    color: #FFFFFF;
    border: none;
}

.navbar-nav li a.nav-icon:hover {
    background-color: #4dc1ff;
}

.navbar-nav li a.nav-icon img {}

.hero-sec {
    padding-top: 176px;
    padding-bottom: 218px;
    background-image: url(../images/hero-bg.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.hero-content {
    max-width: 810px;
    margin: auto;
}

.hero-content h1 {
    font-weight: 500;
    font-size: 70px;
    line-height: 126.5%;
    text-align: center;
    color: #000000;
    margin-bottom: 15px;
}

.hero-content p {
    font-weight: 500;
    font-size: 24px;
    line-height: 153%;
    text-align: center;
    color: #000000;
    opacity: 0.6;
}

.empaua-sec {
    background-color: #F7FBFD;
    padding-top: 162px;
    padding-bottom: 80px;
}

.empaua-heading {}

.empaua-heading h2 {
    margin-bottom: 85px;
}

.empaua-heading h3 {
    font-weight: 500;
    font-size: 36px;
    line-height: 126.5%;
    color: #000000;
    text-align: center;
    margin-bottom: 79px;
}

.empaua-sec .row {}

.empaua-sec .row .col-md-4 {
    padding: 25px;
}

.empaua-card {
    background-color: #FFFFFF;
    border-radius: 20px;
    height: 100%;
    padding: 27px 30px 43px;
}

.empaua-card .icon {
    height: 70px;
    width: 70px;
    border-radius: 40px;
    text-align: center;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-transform: capitalize;
    color: #000000;
    background-color: #0000000d;
    padding: 20px;
    margin-bottom: 34px;
}

.empaua-card p {
    font-weight: 400;
    font-size: 18px;
    line-height: 153%;
    color: #000000;
    opacity: 0.7;
}

.form-sec {
    background-color: #F7FBFD;
    padding: 130px 0;
}

.form-sec .container {
    max-width: 1100px;
    background: #FFFFFF;
    box-shadow: -37px -39px 56px #f3f3f340, 30px 31px 30px #d8d8d824;
    padding: 103px 120px;
}

.empaua-form {}

.empaua-form form {}

.empaua-form form label {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #00000080;
    margin-bottom: 20px;
}

.empaua-form form label.checkbox-label {
    display: flex;
    flex-wrap: nowrap;
}

.empaua-form form input,
.empaua-form form textarea,
.empaua-form form select {
    background-color: #FFFFFF;
    border: 1px solid #00547226;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding: 18px 25px;
    width: 100%;
    margin-bottom: 34px;
}

.empaua-form form input[type='checkbox'] {
    width: auto;
    margin-right: 10px;
}

.empaua-form form textarea {
    margin-bottom: 58px;
}

.empaua-form form button {
    margin-top: 40px;
}

.analysis-sec {
    padding-top: 150px;
    padding-bottom: 54px;
}

.analysis-sec .container {
    max-width: 1200px;
}

.analysis-sec .container .row .col-md-6 {
    padding: 0 50px;
    margin-bottom: 70px;
}

.analysis-heading {
    text-align: center;
    margin-bottom: 80px;
}

.analysis-heading h2 {
    margin-bottom: 26px;
}

.analysis-heading p {
    font-weight: 400;
    font-size: 18px;
    line-height: 153%;
    /* or 28px */
    text-align: center;
    color: #000000;
    opacity: 0.5;
    max-width: 790px;
    margin: auto;
}

.analysis-card {
    background-color: #FFFFFF;
    border: 1px solid #ECEFF3;
    box-sizing: border-box;
    border-radius: 17px;
    padding: 56px 30px 73px;
    text-align: center;
    height: 100%;
}

.analysis-card .icon {
    background-color: #EFFAFF;
    width: 90px;
    height: 90px;
    border-radius: 12px;
    margin: auto;
    padding: 22px;
    margin-bottom: 66px;
}

.analysis-card .icon img {
    width: 45px;
}

.analysis-card h3 {
    margin-bottom: 29px;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: -0.01em;
    color: #243853;
}

.analysis-card p {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.004em;
    color: #727883;
    margin: 0;
}

.reminder-sec {
    background-color: #F7FBFD;
    padding-top: 110px;
    padding-bottom: 104px;
    margin-bottom: 124px;
}

.reminder-content {}

.reminder-content h2 {
    margin-bottom: 62px;
}

.reminder-content p {
    font-weight: 400;
    font-size: 24px;
    line-height: 153%;
    /* or 37px */
    text-align: center;
    color: #000000;
    opacity: 0.5;
    max-width: 966px;
    margin: auto;
    margin-bottom: 44px;
}

.reminder-content p:last-child {
    margin-bottom: 0px;
}

.reminder-content p small {
    font-size: 14px;
    line-height: 153%;
}

footer {
    background-image: url(../images/footer-bg.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-bottom: 73px;
}

footer .container {
    padding: 0;
}

.footer-sec {
    background: #006779;
    border-radius: 10px;
    padding: 85px 120px 34px;
}

.footer-widget {}

.footer-logo {
    margin-bottom: 20px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-widget p {
    color: #FFFFFF99;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin: 0;
}

.footer-widget h3 {
    font-size: 21px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 45px;
    color: #ffffff;
}

.footer-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-widget ul li {
    margin-bottom: 18px;
}

.footer-widget ul li:last-child {
    margin: 0;
}

.footer-widget ul li a {
    color: #FFFFFF99;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
}

.footer-widget ul li a:hover {
    color: #FFFFFF;
}

.footer-widget ul li a img {
    background-color: #ffffff14;
    padding: 9px;
    height: 36px;
    width: 36px;
    border-radius: 20px;
    margin-right: 17px;
}

.footer-post-card {
    border-radius: 5px;
    padding: 4px 5px 4px 5px;
    border: 1px solid #00768A;
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

.footer-post-card:last-of-type {
    margin-bottom: 0;
}

.footer-post-card .thumbnail {
    width: 69px;
    height: 71px;
    display: table-cell;
    border-radius: 6px;
    background-image: url(../images/ft1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.footer-post-card .title {
    display: table-cell;
    vertical-align: middle;
    padding-left: 11px;
}

.footer-post-card .title a {
    color: #FFFFFF99;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.footer-post-card .title a:hover {
    color: #FFFFFF;
}

.copyright {
    padding-top: 85px;
}

.copyright p {
    text-align: center;
    color: #FFFFFF80;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 0;
}